body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

ul {
  padding: 0;
}

.note {
  border-left: 2px solid #000000;
  margin-bottom: 8px;
  border-radius: 8px;
  overflow: hidden;
}

.note-title {
  font-size: 18px;
  margin-bottom: 0;
}
