/*----------------
	General
-----------------*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Remove outline > Apply other styles for accessibility */
:focus {
  outline: none;
}

html,
body {
  height: 100vh;
  width: 100%;
}

body {
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 300;
  position: relative;
  letter-spacing: 0.05rem;
  line-height: 1.5;
  text-align: center;
}

a {
  color: #6d8ca0;
  font-weight: 700;
  text-decoration: none;
}

.section-title {
  color: #ffffff;
  font-size: 1.4rem;
  margin-top: 10px;
}

a:hover {
  text-decoration: underline;
}

#fav-weather-list {
  list-style: none;
  display: grid;
  gap: 1rem;
  padding: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

#searched-weather {
  padding: 1rem;
}

.current-weather,
.fav-weather-item {
  position: relative;
  border-radius: 1rem;
  padding: 1rem;
  color: #fff;
  -webkit-box-shadow: -1px 7px 30px -19px rgba(66, 68, 90, 1);
  -moz-box-shadow: -1px 7px 30px -19px rgba(66, 68, 90, 1);
  box-shadow: -1px 7px 30px -19px rgba(66, 68, 90, 1);
}

.remove-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: auto;
  height: 15px;
  font-size: 20px;
  cursor: pointer;
}

.card-action-btn {
  background: transparent;
  font-weight: 600;
  padding: 4px;
  color: #ffffff;
}

button {
  border: none;
  cursor: pointer;
}

.text-overflow {
  text-overflow: ellipsis;
  overflow: hidden;
}

.title {
  font-size: 2.7em;
  line-height: 1.3;
}

.temp:after {
  content: "\00b0";
}

.high:after,
.low:after {
  content: "\00b0";
  padding: 1px;
}

.pressure-value:after {
  content: "pHa";
  padding: 1px;
}

.form-search-input {
  border: 3px solid #d96c06;
  border-right: 0;
  border-radius: 12px 0 0 12px;
  width: 100%;
  padding: 6px 10px;
  font-size: 18px;
}

.form-search-btn {
  border-radius: 0 12px 12px 0;
  font-size: 20px;
  padding: 6px 10px;
  background-color: #d96c06;
  color: #ffffff;
}

#search-box {
  display: none;
  position: absolute;
  z-index: 100;
  background-color: #fff;
  width: 100%;
  border-radius: 0 0 12px 12px;
  list-style: none;
  padding: 0;
  box-shadow: 3px 16px 38px -7px rgba(140, 140, 140, 1);
  overflow: hidden;
}

#search-box.active {
  display: block;
}

.search-option {
  padding: 8px;
}

.search-option:hover {
  background-color: #e0e0e0;
  cursor: pointer;
}
