/*----------------
	General
-----------------*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Remove outline > Apply other styles for accessibility */
:focus {
  outline: none;
}

html,
body {
  height: 100vh;
  width: 100%;
  /* background: #86b9e0; */
}

body {
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 300;
  position: relative;
  letter-spacing: 0.05rem;
  line-height: 1.5;
  text-align: center;
}

a {
  color: #6d8ca0;
  font-weight: 700;
  text-decoration: none;
}

.section-title {
  color: #ffffff;
  font-size: 1.4rem;
  margin-top: 10px;
}

a:hover {
  text-decoration: underline;
}

#fav-weather-list {
  list-style: none;
  display: grid;
  gap: 1rem;
  padding: 1rem;
  grid-template-columns: repeat(3, 1fr);

  /* grid-auto-columns: minmax(200px); */
  /* grid-template-columns: minmax(200px, 1fr) minmax(100px, 1fr); */
}

#searched-weather {
  padding: 1rem;
}

.current-weather,
.fav-weather-item {
  border-radius: 1rem;
  padding: 1rem;
  color: #fff;
  -webkit-box-shadow: -1px 7px 30px -19px rgba(66, 68, 90, 1);
  -moz-box-shadow: -1px 7px 30px -19px rgba(66, 68, 90, 1);
  box-shadow: -1px 7px 30px -19px rgba(66, 68, 90, 1);
}

button {
  border: none;
  cursor: pointer;
}

.temp {
  font-size: 2.7em;
  line-height: 1.3;
}

.temp:after {
  content: "\00b0";
}

.high:after,
.low:after {
  content: "\00b0";
  padding: 1px;
}

.pressure-value:after {
  content: "pHa";
  padding: 1px;
}

.form-search-input {
  border: 3px solid #d96c06;
  border-radius: 12px 0 0 12px;
  width: 60%;
  padding: 6px 10px;
  font-size: 18px;
}

.form-search-btn {
  border-radius: 0 12px 12px 0;
  font-size: 20px;
  padding: 6px 10px;
  background-color: #d96c06;
  color: #ffffff;
}
